.foodimg {
    border-radius: 15%;
    margin-bottom: 3%;
}

.category {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1%;
}

.area {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1%;
}


.ingredients {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1%;
    margin-left: 2%;
}

.instructions1 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 1%;
    margin-left: 2%;
}

.instructions {
    white-space: normal;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3%;
}

@media (max-width: 768px) {
    .foodimg {
        border-radius: 10%;
        margin-bottom: 5%;
        width: 90%;
        height: auto;
    }

    h2{
        font-size: 17px;
    }

    .category,
    .area,
    .ingredients,
    .instructions1,
    .instructions {
        font-size: 18px;
        margin-left: 1%;
        padding: 0 10px;
    }

    .instructions {
        font-size: 16px;
    }
}